<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
	<property name="LOG_DIR" value="../log" />
	 <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
        <level>WARN</level>
    	</filter>
	    <file>${LOG_DIR}/error.log</file>
	    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	        <!-- daily rollover -->
	        <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.gz</fileNamePattern>
	        <!-- keep 1 days' worth of history capped at 1GB total size -->
	        <maxHistory>1</maxHistory>
	        <totalSizeCap>1GB</totalSizeCap>
	    </rollingPolicy>
	    <encoder>
	        <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
	    </encoder>
	</appender>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
        <level>INFO</level>
    </filter>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <root level="info">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
   <!-- <appender-ref ref="EMAIL" /> --> 
  </root>
</configuration>