/* You can add global styles to this file, and also import other style files */
/*@import 'app/theme/style';*/
//@import 'styles/themes';
//@import 'styles/custom';
//@import 'styles/grid';
//@import 'styles/helpers';
//@import 'styles/plugins';
@import 'estilos/vision-default.css';
@import 'estilos/vision-default.scss';
@import 'estilos/responsive-table.css';

@import '~@angular/material/theming';
$custom-typography: mat-typography-config(
  $font-family: 'sans-serif'
);

@include angular-material-typography($custom-typography);

  //checkbox color
  $candy-app-primary: mat-palette($mat-indigo);
  $mat-checkBox: (
  50: rgb(36,46,142),
  100: #769b3f,
  200: #339900,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
  )
  );
  $candy-app-accent: mat-palette($mat-checkBox, 50, 100, 200);
  $candy-app-warn: mat-palette($mat-red);
  $candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
  @include mat-checkbox-theme($candy-app-theme);

